.result-list {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

.document-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin: 2px;
  border: 2px solid white;
  border-radius: 6px;
}

.document-item__title {
  width: 200px;
}

.document-item__count {
  width: 50px;
}

.results {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.results .choice {
  display: flex;
  flex-direction: row;
}

.results .choice button {
  margin: 0 6px 0 0;
}
